.carousel-inner img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

@media (min-width: 768px) {
    /* Adjust the height for laptop and larger screens */
    .carousel-inner img {
        height: 600px; /* Adjust height as needed */
    }
}

@media (max-width: 767px) {
    /* Adjust the height for phones and smaller screens */
    .carousel-inner img {
        height: 200px; /* Adjust height as needed */
    }
}